attrs==26.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
numpy==2.5.3
qfbench2-common @ git+https://github.com/Agenthon-2026/Agenthon2026-public.git@50fb2dc2b39c70f4cf81fcd269943782eddfaed0#subdirectory=common
referencing==0.37.0
rpds-py==2026.9.1
scipy==1.18.1
